.media
  .media-left
    = gravatar_for post.user
    %h4.media-heading
      %small= post.created_at.strftime("%d %b. %Y")
      %span.text-warning= post.title
    %p
      %span{:style => "font-size: 1.6em"}
        Author:
        %i= post.user.name.capitalize
      %span.pull-right.text-primary
        %i Tags:
        = post.tags.truncate(100)
  .media-body
    = post.body.truncate(400)
    %br/
    %i= link_to 'show more...', user_post_path(post.user.id, post), class: "text-primary"
