<%= render partial: 'shared/errors' %>
<h1>Log In</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_tag sessions_path do %>
      <div class="form-group">
        <%= label_tag :email, 'email', {class: 'control-label'} %>
        <%= text_field_tag :email, params[:email], class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= label_tag :password, 'password', {class: 'control-label'} %>
        <%= password_field_tag :password, '', class: 'form-control' %>
      </div>
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <%= submit_tag "Log In", class: "btn btn-primary" %>
      </div>
      <div class="col-md-4"></div>
    <% end %>
  </div>
</div>
<%= link_to 'Back', root_path, class: "btn-sm btn-info" %>