.row
  .col-md-8.bs-callout
    %h1 Log In
    = form_tag sessions_path do
      .form-group
        = label_tag :email, 'email', {class: 'control-label'}
        = text_field_tag :email, params[:email], class: 'form-control'
      .form-group
        = label_tag :password, 'password', {class: 'control-label'}
        = password_field_tag :password, '', class: 'form-control'
      = button_tag  " log In", class: "btn btn-info fa fa-sign-in", type: 'submit'
      = link_to 'Back', :back, class: "btn btn-info fa fa-circle-o-notch"
    %h5
      First time here? Please
      = link_to ' sign up', new_user_path, class: 'fa fa-sign-in'
