.comment{id: "close-comment-#{comment.id}"}
  .media
    .media-left
      = gravatar_for comment.user
      %h6.media-heading
        %small= comment.created_at.strftime("%d %b. %Y")
        |
        Author:
        %i= comment.user.name.capitalize
        %span.pull-right
          -if current_user && current_user.id == comment.user.id
            = link_to 'x', user_post_comment_path(comment.user.id, comment.post.id, comment.id), method: :delete, data: { confirm: "Are you sure?" }
    .media-body
      = comment.body
      - if current_user && current_user.id == comment.user.id
        %p
          = link_to 'Update', "#update-comment-#{comment.id}", onclick: "$('#update-comment-#{comment.id}').show();", class: 'scroll', 'data-speed': 2000, 'data-easing': 'easeOutQuint', 'data-url': true
    .col-md-1
    .col-md-8{ id: "update-comment-#{comment.id}", class: "comment-form" }
      - if current_user
        = form_for [current_user, post, comment], method: :patch do |f|
          = render partial: "comments/form", locals: { f: f, post: post, c: comment }