.comment{id: "comment-#{comment.id}"}
  .media
    .media-left
      = gravatar_for comment.user
      %h6.media-heading
        %i= comment.created_at.strftime("%d %b. %Y")
        |
        Author:
        %i= comment.user.name.capitalize
        %span.pull-right
          -if current_user && current_user.id == comment.user.id
            = link_to 'x', user_post_comment_path(comment.user.id, comment.post.id, comment), method: :delete, remote: true, data: { confirm: "Are you sure?" }
    .media-body
      = comment.body
      - if current_user
        = link_to ' reply', new_user_post_comment_path(current_user, comment.post, parent_id: comment), remote: true
      - if current_user && current_user.id == comment.user.id
        %p
          %span.clock{ class: "update-comment-#{comment.id}" }
          %br/
          = link_to ' edit', edit_user_post_comment_path(current_user, comment.post, comment), class: "update-comment-#{comment.id} btn btn-sm btn-info fa fa-file-text", 'data-speed': 2000, 'data-easing': 'easeOutQuint', 'data-url': true, remote: true
    .edit-form

:javascript
  $("span.clock.update-comment-#{comment.id}").countdown("#{ comment.created_at + 5.minute }").on('update.countdown', function(event) {
    var format = '%M:%S';
    $(this).html('After '+event.strftime(format)+' you can\'t edit comment');
  }).on('finish.countdown', function(event){
    $(this).remove();
    $(".update-comment-#{comment.id}").remove();
    $("#update-comment-#{comment.id}").remove();
  });