= form_for(@user) do |f|
  .form-group
    = f.label :name, class: 'control-label'
    = f.text_field :name, class: 'form-control'
  .form-group
    = f.label :email, class: 'control-label'
    = f.email_field :email, class: 'form-control'
  .form-group
    = f.label :password, class: 'control-label'
    = f.password_field :password, class: 'form-control'
  .form-group
    = f.label :password_confirmation, "Password confirmation", class: 'control-label'
    = f.password_field :password_confirmation, class: 'form-control'
  - if params[:action] == 'edit' || params[:action] == 'update'
    .form-group
      = f.label :current_password, class: 'control-label'
      %br/
      = f.password_field :current_password, class: 'form-control'
  = f.button "#{controller.action_name == 'new' || controller.action_name =='create' ? ' sign up' : ' update'}", class: "btn btn-info fa fa-sign-in", type: 'submit'
  = link_to ' back', :back, class: "btn btn-info fa fa-circle-o-notch"