.form-group
  = f.label :title, class: 'control-label'
  %br/
  = f.text_field :title, class: "form-control"
.form-group
  = f.label :body, class: 'control-label'
  %br/
  = f.text_area :body, class: "form-control", rows: 10
.form-group
  = f.fields_for :tags do |tag|
    = tag.label :tags, class: 'control-label'
    = tag.text_field :name, class: "form-control"
.col-md-4
.col-md-4
  = f.submit "#{controller.action_name == 'new' || controller.action_name == 'create' ? 'Create post' : 'Update post'}", class: "btn btn-success"
.col-md-4
