.media{id:"close-comment-#{post.id}"}
  .media-left
    .media-heading
      %h3
        = post.title
      %p
        %small
          Author:
          %i= post.user.name.capitalize
        %small
          Created:
          = post.created_at.strftime("%d %b. %Y")
        %span.pull-right.text-primary
          %i Tags:
          - post.tag_list.each do |tag|
            = link_to "#{tag}", root_path(tag: "#{tag if current_user}"), class: "btn btn-xs btn-default"
  .media-body{ style: "#{!current_user ? 'margin-bottom: 15px;' : ''}"}
    - if !post.image_url.blank?
      = image_tag "#{post.image_url}", width: "100%", style: "float:left; width: 40%; padding: 0 20px 10px 0"
    = post.body.truncate(1000)
  .controls
    %ul.list-inline.pull-left
      %li
        - if current_user
          = link_to ' comment', "#new-comment-#{post.id}", class: "scroll comment-#{post.id} fa fa-comments-o btn btn-info", onclick: "$('#new-comment-#{post.id}').show();", 'data-speed': 2000, 'data-easing': 'easeOutQuint', 'data-url': true
      %li
        = link_to ' read more', user_post_path(post.user.id, post), class: 'fa fa-eye btn btn-info'
      %li{ class: "favorite-#{post.id}"}
        - if current_user
          - if !post.favorite?(current_user)
            = link_to ' add to favorite', favorite_path(post.user.id, post), class: 'fa fa-star-o btn btn-info', method: :post, remote: true
          - else
            = link_to ' remove from favorite', unfavorite_path(post.user.id, post), class: 'fa fa-star btn btn-info', method: :delete, remote: true
    %span.pull-right
      - if current_user
        = like_thumb(current_user, post)
        = dislike_thumb(current_user, post)
      - else
        %a.btn.btn-info
          %span.fa.fa-thumbs-up.text-primary
          = like_dislike(like=true, post)
        %a.btn.btn-danger
          %span.fa.fa-thumbs-down.text-danger
          = like_dislike(like=false, post)

  - if post.comments.size !=0
    .row{ class: "comments comments-#{post.id}" }
      .col-md-1
      .col-md-8
        %h4
          Comments:
        - post.comments.each do |comment|
          = render partial: 'comments/comment', locals: { comment: comment, post: post }
  - if current_user
    .col-md-2
    .col-md-6{ style: "margin-bottom: 10px", id: "new-comment-#{post.id}",class: "comment-form" }
      = form_for [current_user, post, @comment] do |f|
        = render partial: "comments/form", locals: { :f => f, post: post, c: @comment }

:javascript
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  });