.media{id:"close-comment-#{post.id}"}
  .media-left
    = gravatar_for post.user
    %h4.media-heading
      %small= post.created_at.strftime("%d %b. %Y")
      %span.text-warning= post.title
    %p
      %span{:style => "font-size: 1.6em"}
        Author:
        %i= post.user.name.capitalize
      %span.pull-right.text-primary
        %i Tags:
        - post.tag_list.each do |tag|
          = link_to "#{tag}", root_path(tag: "#{tag if current_user}"), class: "btn btn-xs btn-default"
  .media-body{ style: "#{!current_user ? 'margin-bottom: 15px;' : ''}"}
    = post.body.truncate(400)
    %i
      = link_to 'show more', user_post_path(post.user.id, post), class: "text-primary"
      %span.pull-right
        - if current_user
          = like_thumb(current_user, post)
          = like_dislike(like=true, post)
          |
          = dislike_thumb(current_user, post)
          = like_dislike(like=false, post)
        - else
          %span.fa.fa-thumbs-up.text-primary
            = like_dislike(like=true, post)
          |
          %span.fa.fa-thumbs-down.text-danger
            = like_dislike(like=false, post)
    - if current_user
      %p
        = link_to 'add comment', "#new-comment-#{post.id}", class: "scroll btn btn-sm btn-success comment-#{post.id}", onclick: "$('#new-comment-#{post.id}').show(); $(this).hide()", 'data-speed': 2000, 'data-easing': 'easeOutQuint', 'data-url': true
  - if post.comments.size !=0
    .row{ class: "comments-#{post.id}" }
      .col-md-1
      .col-md-8
        %h4
          Comments:
        - post.comments.each do |comment|
          = render partial: 'comments/comment', locals: { comment: comment, post: post }
  - if current_user
    .col-md-2
    .col-md-6{ style: "margin-bottom: 10px", id: "new-comment-#{post.id}",class: "comment-form" }
      = form_for [current_user, post, @comment] do |f|
        = render partial: "comments/form", locals: { :f => f, post: post, c: @comment }

:javascript
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  });