.media{ id:"post-#{post.id}" }
  %span{ id: "post-anchor-#{post.id}" }
  .media-left
    .media-heading
      %h3
        = post.title
      %p
        %small
          Author:
          %i= post.user.name.capitalize
        %small
          Created:
          = post.created_at.strftime("%d %b. %Y")
        %span.pull-right.text-primary
          %i Tags:
          - post.tag_list.each do |tag|
            = link_to "#{tag}", root_path(tag: "#{tag if current_user}"), class: "btn btn-xs btn-default"
  .media-body{ style: "#{!current_user ? 'margin-bottom: 15px;' : ''}"}
    - if !post.image_url.blank?
      = image_tag "#{post.image_url}", width: "100%", style: "float:left; width: 40%; padding: 0 20px 10px 0"
    = post.body.truncate(1000)
  .controls{ style: "#{current_user ? '' : 'margin-bottom: 55px;'}" }
    %ul.list-inline.pull-left
      %li
        - if current_user
          = link_to ' comment', new_user_post_comment_path(current_user, post, parent_id: @comment), remote: true, class: "fa fa-comments-o btn btn-info"
      %li
        = link_to ' read more', user_post_path(post.user.id, post), class: 'fa fa-eye btn btn-info'
      %li{ class: "favorite-#{post.id}"}
        - if current_user
          - unless post.favorited?(current_user)
            = link_to ' add to favorite', favorite_path(post.user.id, post), class: 'fa fa-star-o btn btn-info', method: :post, remote: true
          - else
            = link_to ' remove from favorite', unfavorite_path(post.user.id, post), class: 'fa fa-star btn btn-info', method: :delete, remote: true
    %span.pull-right
      - if current_user
        = like_thumb(current_user, post)
        = dislike_thumb(current_user, post)
      - else
        %a.btn.btn-info
          %span.fa.fa-thumbs-up.text-primary
          = like_dislike(like=true, post)
        %a.btn.btn-danger
          %span.fa.fa-thumbs-down.text-danger
          = like_dislike(like=false, post)
  .row{ class: "comments" }
    .col-md-10{ class: "comments-post-#{post.id}" }
      = nested_comments post.comments.arrange
    .comment-form{ id: "comment-form-#{post.id}" }