.bs-callout
  %h1 My posts
  = paginate @posts, :theme => 'twitter-bootstrap-3', :pagination_class => 'pagination-sm'
  .pull-right{:style => "margin: 20px 0"}
    = render 'shared/search_form'
  %table.table.table-bordered
    %thead
      %tr.info
        %th Title
        %th Body
        %th Tags
        %th Likes Count
        %th Dislike Count
        %th Actions
    %tbody
      - @posts.each do |post|
        %tr
          %td= post.title.truncate(100)
          %td= post.body.truncate(50)
          %td= post.tag_list.join(',').truncate(35)
          %td= post.like_count
          %td= post.dislike_count
          %td
            = link_to ' show', user_post_path(current_user, post), class: "btn-sm btn-info fa fa-eye"
            = link_to ' edit', edit_user_post_path(current_user, post), class: "btn-sm btn-warning fa fa-file-text"
            = link_to ' destroy', user_post_path(current_user, post), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn-sm btn-danger fa fa-times"
  = link_to ' new post', new_user_post_path, class: "btn btn-info fa fa-file-text"
  = link_to ' back', user_path(current_user.id), class: "btn btn-info fa fa-circle-o-notch"
