<%= render partial: 'shared/errors' %>
<h2>Post <i><%= @post.title %></i></h2>

<h4>
  <strong>Body:</strong>
  <%= @post.body %>
</h4>

<h4>
  <strong>Tags:</strong>
  <%= @post.tags %>
</h4>

<% if current_user %>
  <%= link_to 'Edit', edit_user_post_path(current_user.id, @post), class: "btn-sm btn-success" %> |
  <%= link_to 'Back', user_posts_path, class: "btn-sm btn-info" %>
<% else %>
  <%= link_to 'Back', root_path, class: "btn-sm btn-info" %>
<% end %>