<h1>
  Post <i><%= @post.title %></i>
  <br/>
  <small>Created: <%= @post.created_at.strftime("%d %b %Y") %></small>
  <br/>
  <% if current_user %>
    <small>Author: <%= @post.user_id == current_user.id ? 'I\'am' : @post.user.name.capitalize %></small>
  <% else %>
    <small>Author: <%= @post.user.name.capitalize %></small>
  <% end %>
</h1>

<h5 class="text-primary" >
  <strong>Tags:</strong>
  <i><%= @post.tags %></i>
</h5>

<div class="bs-callout">
  <h4><%= @post.body %></h4>
</div>

<% if current_user && @post.user_id == current_user.id %>
  <%= link_to 'Edit', edit_user_post_path(current_user.id, @post), class: "btn-sm btn-success" %> |
  <%= link_to 'Back to posts', user_posts_path, class: "btn-sm btn-info" %>
<% else %>
  <%= link_to 'Back', root_path, class: "btn-sm btn-info" %>
<% end %>