<%= render partial: "shared/notice" %>

<h2>Post <i><%= @post.title %></i></h2>

<h4>
  <strong>Body:</strong>
  <%= @post.body %>
</h4>

<h4>
  <strong>Tags:</strong>
  <%= @post.tags %>
</h4>

<%= link_to 'Edit', edit_post_path(@post), class: "btn-sm btn-success" %> |
<%= link_to 'Back', posts_path, class: "btn-sm btn-info" %>