!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Blog
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %span#top
    = render 'layouts/header'
    .container{style:"min-height: 560px;"}
      = link_to ' top', '#top', class: 'btn btn-info top-button fa fa-arrow-up', onclick: "$('html, body').animate({ scrollTop: $('#top').offset().top - 70 }, 1500);"
      - if session[:modal] == 1
        = render 'shared/changes_modal'
      - if session[:count] == 10
        = render 'shared/modal_geek_hub'
      = render 'shared/errors'
      = yield
      = render 'layouts/footer'
